html, body {
    background: $primary;
    color: $white;
    height: 100%;
    display: flex;
    width: 100%;
}

#app {
    margin: auto;
    text-align: center;
}

[v-cloak] > * {
	display: none;
}