<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width" />
		<title>codific567</title>
        <link rel="stylesheet" href="~/assets/css/style.min.css"/>
		@RenderSection("Head", required: false)
	</head>
    <body>
        <div id="app">
            @RenderBody()
        </div>
    </body>
</html>