Vue.component('home', {
    data: function () {
        return {
            platformName: 'codific567'
        };
    },
    template: `
        <div>
            <h1>Hello {{platformName}}</h1>
        </div>
`
});
